*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --first-cl: #778E88;
    --second-cl:#70718D;
    --primary-cl: #ACC3BD;
    --white-cl: #fff;
    --ff1: 'DM Sans', sans-serif;
    --ff2: 'DM Serif Display', serif;

}

/*  */
a{
    text-decoration: none;
    display: inline-block;
}
ul, li{
    list-style: none;
}
.navber-style{
    display: flex;
    justify-content: space-between;
}
/* font family */
.font-dm{
    font-family: var(--ff1);
}
.font-display{
    font-family: var(--ff2);
}

.top-heading{
    font-family:var(--ff1) ;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--first-cl);
    padding-top: 10px ;
    text-transform: uppercase;
}
.top-heading:hover{
    color: var(--first-cl);
}

.para{
    font-family: var(--ff1);
    font-weight: 500;
    font-size: 14px;
    color: var(--second-cl);
    line-height: 22px;
    text-align: left;
    padding-top: 35px;
}
.main-heading{
    font-family: var(--ff2);
    font-size: 20px;
    font-weight: 400;
    line-height: 30.5px;
    color: var(--first-cl);
    text-transform: capitalize;
    padding:35px 0 0 35px;

}
.event-heading{
    font-family: var(--ff2);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
    color: var(--first-cl);
    text-transform: capitalize;
    position: relative;
}
.event-heading:hover{
    color: var(--first-cl);
}

.item .active-corporate  {
    position: relative;
  }
  .item .active-corporate::after  {
    content: " ";
    position: absolute;
    top: 0;
    right: 78px;
    padding: 10px;
    background: url(../images/leep.png) no-repeat center ;
    
  }
  
  .item .active-social  {
    position: relative;
  }
  .item .active-social::after  {
    content: " ";
    position: absolute;
    top: 0;
    right: 60px;
    padding: 10px;
    background: url(../images/leep.png) no-repeat center ;
    
  }
  .item .active-wedding   {
    position: relative;
  }
  .item .active-wedding::after  {
    content: " ";
    position: absolute;
    top: 0;
    right: 70px;
    padding: 10px;
    background: url(../images/leep.png) no-repeat center ;
    
  }
.center{
    text-align: center;
}

.btn-all{
    display: inline-block;
    padding: 14px 16px;
    background: var(--primary-cl);
    color: var(--white-cl);
    font-family: var(--ff2);
    font-weight: 400;
    font-size: 22px;
    text-transform: capitalize;
    margin: 13px 0;
    transition: all linear 0.3s;
}
.btn-all:hover{
    background-color: #95ADA7;
    color: var(--white-cl);
}
.left{
    text-align: left;
}
.bottom-heading{
    font-family: var(--ff2);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5;
    color: var(--first-cl);
}


/* body */
.bg-img{
    background: url(../images/background.png) no-repeat center / cover;
    padding: 20px 0 39px 0;
}
/* spaching */
.py-14{
    padding: 14px;
}
.pt-35{
    padding-top: 35px;
}
.details-spacing{
    padding: 0 14px 14px 14px;
}
.margin{
    margin:  0 15px;
}
/* width */
.width-100{
    width: 100%;
    border: 1px solid #95ADA7;
}
.details-border{
    width: 100%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #95ADA7;
    border-left: 1px solid #95ADA7;
    border-right: 1px solid #95ADA7 ;
}
/* details part */
.details-item{
    height: 100%;
}
.details-item img{
    height: 100%;
}
/* nav ber */


/* 
nab ebebeebe==========
*/

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: var(--primary-cl);
  }

  .nav__item {
    padding: 1rem;
  }

  .nav__link {
    display: block;
    padding: 14px 24px;
    text-transform: capitalize;
    font-family: var(--ff2);
    font-weight: 400;
    font-size: 16px;
    color: var(--white-cl);
    transition: all linear;
  }
  .nav__link:hover {
    color: var(--white-cl);
  }

  .nav__link.active  {
    position: relative;
  }
  .nav__link.active::after  {
    content: " ";
    position: absolute;
    bottom: -27px;
    left: 40%;
    width: 15px;
    height: 15px;
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
    clip-path: polygon(100% 0, 0 0, 50% 100%);
    background: var(--primary-cl);
  }

/*  */
/* event */
.event-item h1{
    position: relative;
}
.event-item h1::after{
    content: " ";
    position: absolute;
    top: 0;
    left: -24px;
    padding: 15px;
    background: url(../images/leep.png) no-repeat;
}
.h-300px{
    height: 200px;
}

/* contact part */
.contact-heading{
    font-family: var(--ff2);
    font-size: 22px;
    font-weight: 400;
    color: var(--first-cl);
    padding-top: 52px;
    text-transform: uppercase;
   
}

.contact-para{
    font-family: var(--ff1);
    font-weight: 500;
    font-size: 16px;
    color: var(--first-cl);
}
.fs-14px{
    font-size: 14px;
}
 input{
    width: 100%;
    background: #ACC3BD;
    padding: 10px;
    border: 1px solid var(--first-cl);
    outline: none;
    color: #fff;
    margin-top: 16px;
}
.width-75px{
    width: 75px;
    background: #fff;
    padding: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    
    outline: none;
    color: #353535;
    margin-top: 16px;
}

.btn-submit{
    display: inline-block;
    padding: 14px 83px;
    background: var(--primary-cl);
    color: var(--white-cl);
    font-family: var(--ff2);
    font-weight: 400;
    font-size: 22px;
    text-transform: capitalize;
    margin: 13px 0;
    transition: all linear 0.3s;
    outline: none;
    border: 1px solid transparent;
}