*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --first-cl: #778E88;
    --second-cl:#70718D;
    --primary-cl: #ACC3BD;
    --white-cl: #fff;
    --ff1: 'DM Sans', sans-serif;
    --ff2: 'DM Serif Display', serif;

}

/*  */
a{
    text-decoration: none;
    display: inline-block;
}
ul, li{
    list-style: none;
}
.navber-style{
    display: flex;
    justify-content: space-between;
}
/* font family */
.font-dm{
    font-family: var(--ff1);
}
.font-display{
    font-family: var(--ff2);
}

.top-heading{
    font-family:var(--ff1) ;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--first-cl);
    padding-top: 10px ;
    text-transform: uppercase;
}
.top-heading:hover{
    color: var(--first-cl);
}

.para{
    font-family: var(--ff1);
    font-weight: 500;
    font-size: 14px;
    color: var(--second-cl);
    line-height: 22px;
    text-align: left;
    padding-top: 35px;
}
.main-heading{
    font-family: var(--ff2);
    font-size: 20px;
    font-weight: 400;
    line-height: 30.5px;
    color: var(--first-cl);
    text-transform: capitalize;
    padding:35px 0 0 35px;

}
.event-heading{
    font-family: var(--ff2);
    font-size: 16px;
    font-weight: 400;
    line-height: 30.5px;
    color: var(--first-cl);
    text-transform: capitalize;
    

}
.center{
    text-align: center;
}

.btn-all{
    display: inline-block;
    padding: 14px 16px;
    background: var(--primary-cl);
    color: var(--white-cl);
    font-family: var(--ff2);
    font-weight: 400;
    font-size: 22px;
    text-transform: capitalize;
    margin: 13px 0;
    transition: all linear 0.3s;
}
.btn-all:hover{
    background-color: #95ADA7;
    color: var(--white-cl);
}
.left{
    text-align: left;
}
.bottom-heading{
    font-family: var(--ff2);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5;
    color: var(--first-cl);
}


/* body */
.bg-img{
    background: url(../images/background.png) no-repeat center / cover;
    padding: 20px 0 39px 0;
}
/* spaching */
.py-14{
    padding: 14px;
}
.pt-35{
    padding-top: 35px;
}
.details-spacing{
    padding: 0 14px 14px 14px;
}
.margin{
    margin:  0 15px;
}
/* width */
.width-100{
    width: 100%;
    border: 1px solid #95ADA7;
}
.details-border{
    width: 100%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #95ADA7;
    border-left: 1px solid #95ADA7;
    border-right: 1px solid #95ADA7 ;
}
/* details part */
.details-item{
    height: 100%;
}
.details-item img{
    height: 100%;
}
/* nav ber */
.menu-items{
    padding: 10px 0;
    background: var(--primary-cl);
}
.menu-items ul{
    display: flex;
    justify-content: space-around;
}
.menu-items ul li .active-menu{
    font-family: var(--ff2);
    font-weight: 400;
    font-size: 16px;
    color: var(--white-cl);
    padding: 14px 5px ;
    position: relative;
}
.menu-items   .active-menu::before{
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #000;
    visibility: hidden;
}
 
/* 
nab ebebeebe==========
*/

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: var(--primary-cl);
  }

  .nav__item {
    padding: 1rem;
  }

  .nav__link {
    display: block;
    padding: 14px 24px;
    text-transform: capitalize;
    font-family: var(--ff2);
    font-weight: 400;
    font-size: 16px;
    color: var(--white-cl);
    transition: all linear;
  }
  .nav__link:hover {
    color: var(--white-cl);
  }

  .nav__link.active  {
    border: 1px solid #ffffff;
    color: #ffffff;
  }
/*  */
/* event */
.event-item h1{
    position: relative;
}
.event-item h1::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: url(../images/leep.png) no-repeat;
}
.h-300px{
    height: 200px;
}